body {
  font-family: 'Arial', sans-serif;
  background-color: #111; /* Dark background */
  color: #fff; /* White text */
  margin: 0;
}

header {
  text-align: center;
  background-color: #39ff14; /* Fluorescent green header background */
  color: #000; /* Black text for better contrast */
  padding: 20px;
}

nav ul {
  list-style: none;
  background-color: #222; /* Darker gray navigation background */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #444;
}

section {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table img {
  width: 100%;
  height: auto;
}

table.experience-table {
  border-left: 2px solid #333; 
  border-right: 2px solid #333;
}

table.experience-table th,
table.experience-table td {
  border-bottom: 2px solid #39ff14; 
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222; 
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
